{%extends 'base.html'%}


{%block content%}


<h1>Create Product</h1>

{%if passworderror%}
<h5 class="text-danger">{{error}}</h5>

{% endif %}

<form action="{% url 'create'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    Title:
    <br>
    <input type="text" name="title" id="">
    <br>
    Body:
    <br>
    <input type="text" name="body" id="">
    <br>
    Url:
    <br>
    <input type="text" name="url" id="">
    <br>
    Image:
    <br>
    <input type="file" name="image" id="">
    <br>
    Icon:
    <br>
    <input type="file" name="icon" id="">
    <br>
    <br>
    <br>
    <input class="btn btn-primary" type="submit" value="add product">

</form>



{%endblock%}